.Message-text {
    border: solid 1px #041333;
    border-radius: 8px;
    color: #041333;
    text-align: center;
    margin: 20px 20px;
    padding: 20px 20px;
    position: relative;
}

.Message-autor{
    font-size: 14px;
    font-style: italic;
    position: absolute;
    top: 0;
    left: 10px;
}

.Message-date{
    font-size: 14px;
    font-style: italic;
    position: absolute;
    top: 20px;
    left: 10px;
}

.Icon-bloc {
    color: #041333;
    margin: 0px 10px;
}

.Icon1 {
    position: absolute;
    bottom: 5px;
    right: 50px;
}

.Icon2 {
    position: absolute;
    bottom: 5px;
    right: 25px;
}

.Icon3 {
    position: absolute;
    bottom: 5px;
    right: 0px;
}

.Message-create-title {
    font-size: 20px;
    font-weight: bold;
}

.Message-create-bloc {
    border: solid 2px #041333;
    border-radius: 8px;
    color: #041333;
    text-align: center;
    width: 500px;
    margin: 10px auto;
    padding: 20px 20px;
}

.Comment-bloc {
    position: relative;
    border: solid 1px #041333;
    border-radius: 8px;
    color: #041333;
    text-align: center;
    width: 450px;
    margin: 20px 60px;
    padding: 20px 20px;
}

.Comment-create{
    border: solid 2px #041333;
    border-radius: 8px;
    color: #041333;
    width: 500px;
    text-align: center;
    margin: 20px auto;
    padding: 20px 20px;
}

@media screen and (max-width: 768px)
{
    .Message-create-bloc {
        width: 330px;
    }

    .Comment-bloc {
        width: 250px;
    }

    .Comment-create {
        width: 330px;
        font-size: 15px;
    }
}

@media screen and (min-width:769px) and (max-width: 1024px)
{
    .Create-discussion > .Submit-form {
        display: block;
        margin: 20px auto;
    }
}